<title>OrphyG</title>
<style type="text/css">
.style1 {
	text-align: center;
	font-family: "Times New Roman", Times, serif;
}
.style2 {
	color: #0066FF;
}
.style3 {
	font-size: x-large;
	color: #FFFFFF;
}
.style4 {
	font-size: x-large;
	color: #FFFFFF;
	background-color: #0066FF;
}

</style>
</head>

<table style="width: 100%; height: 30px">
	<tr>
		<td style="height: 30px">
		<h1 class="style2"><a href="{% url 'home' %}">Gamal Orphy</a></h1>
 		</td>
		<td style="width: 15%; height: 30px" class="style1">
		<h1 class="style2"><a href="{% url 'admin:index' %}">Admin</a></h1>
		</td>
		    <td style="width: 15%; height: 30px" class="style1">
		    <h1 class="style2"><a href="{% url 'logout' %}">Logout</a></h1>
		    </td>
	</tr>
</table>

<table style="width: 100%; height: 30px">
	<tr>
		<td class="style4">Name</td>
		<td class="style4">Homework</td>
		<td class="style4">Topic</td>
	</tr>
	{% if Ordered_List %}
		{% for student in Ordered_List %}
			{% if student in Student_in_Group %}
				<tr>
					<td style="width: 25%; height: 30px" class="style4">
						<li>{{ student.This_Student }}</li>
					</td>
					{% if student.Done %}
						<td style="width: 50%; height: 30px" class="style4">
							<li>Done</li>
						</td>
					{% elif student.Incomplete %}
						<td style="width: 50%; height: 30px" class="style4">
							<li>Incomplete</li>
						</td>
					{% else %}
						<td style="width: 50%; height: 30px" class="style4">
							<li>Not done</li>
						</td>
					{% endif %}
					<td style="width: 25%; height: 30px" class="style4">
						<li>{{ student.Topic }}</li>
					</td>
				</tr>
			{% endif %}
		{% endfor %}
	{% else %}
		<p class="style4">There is no data to show.</p>
	{% endif %}
</table>